{% extends "nav.html" %}

{% block nav %}
  {% for item in primaryMenuDefault %}
    {% if item.current %}
      <li class="page-link">
        <a href="{{ item.url }}" class="selected">{{ item.title }}</a>
      </li>
    {% else %}
    <li class="page-link">
      <a href="{{ item.url }}" class="">{{ item.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
  {% for item in data.pages %}
    {% if item.id == data.currentPage.id %}
      <li class="page-link">
        <a href="/pages/{{ item.id }}/{{ item.slug }}" class="selected">{{ item.title.rendered }}</a>
      </li>
    {% else %}
    <li class="page-link">
      <a href="/pages/{{ item.id }}/{{ item.slug }}" class="">{{ item.title.rendered }}</a>
    </li>
    {% endif %}
  {% else %}
  {% endfor %}
{% endblock %}

{% block headertext %}{{ data.currentPage.title.rendered }}{% endblock %}

{% block listposts %}
<div class="sidebar">
    <ul class="sidebar-section">
      <li class="sidebar-title"><a href="#">Pages</a></li>
      <ul class="sidebar-items">
      {% for item in data.pages %}
        {% if item.id == data.currentPage.id %}
          <li class="sidebar-item">
            <a href="/pages/{{ item.id }}/{{ item.slug }}" class="selected">{{ item.title.rendered }}</a>
          </li>
        {% else %}
          <li class="sidebar-item">
            <a href="/pages/{{ item.id }}/{{ item.slug }}">{{ item.title.rendered }}</a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    </ul>
</div>
{% endblock %}


{% block content %}
<h2><a name="overview" class="anchor" href="#overview"><span class="header-link"></span></a>{{data.currentPage.title.rendered}}</h2>
{{data.currentPage.content.rendered | safe}}
{% endblock %}

{% block next %}
{% endblock %}
